/*Spremeni izgled*/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-style: solid;
  border-width: 2px;
  background-color: #E0E0E0;
}

a {
  color: #00B7FF;
}

#vsebina {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#kanal {
  margin-bottom: 1em;
  background-color: #FFFF99;
  border-style: solid;
  border-width: 1px;
}

#sporocila {
  width: 84%;
  height: 100%;
  min-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #FFFFCC;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
}

#container {
  float: right;
  width: 15%;
  height: 300px;
  overflow: inherit;
}

#seznam-kanalov {
  height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #FFFF99;
  border-style: solid;
  border-width: 1px;
}

#seznam-kanalov div {
  border-bottom: 1px solid #000000;
  cursor: pointer;
  background-color: #FFFF99;
}

#seznam-kanalov div:hover {
  background-color: #ddd;
}

#seznam-uporabnikov {
  height: 148px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #FFFF99;
  border-style: solid;
  border-width: 1px;
}

#seznam-uporabnikov div {
  border-bottom: 1px solid #000000;
  background-color: #FFFF99;
}

#seznam-uporabnikov div:hover {
  background-color: #ddd;
}

#poslji-sporocilo {
  width: 50%;
  margin-bottom: 1em;
  margin-right: 1em;
}

#pomoc {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}